.test-box {
  border: solid black;
  border-width: 10px;
  border-color: black;
  color: blue;
  width: 50%;
  background-color: aquamarine;
  text-align: center;
}

.description {

}

.images { 
  width: 300px;
  float: left;
  columns: center;
}

.sidebar { 
  width: 30%; 
  float: right; 
  background-color: yellow;
}

